* {
    box-sizing: border-box;
    font-family: EvilEmpire, sans-serif;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    background: #71717a;
}

main {
    position: relative;
    display: inline-block;
}

.wrapper {
    border: 2px solid white;
}

.topInterfaceContainer {
    position: relative;
    display: inline-block;
}

.topInterface {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}


.container1 {
    position: relative;
    height: 30px;
    width: 100%;
    background-color: grey;
}

.container2 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 30px;
    width: 100%;
    background-color: grey;
}

.player2 {
    position: absolute;
    background-color: yellow;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%
}

.player1 {
    position: absolute;
    background-color: yellow;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6em;
    background-color: red;
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    text-align: center;
}

.countdown span {
    margin: auto;
    padding-left: 10px;
}

.result {
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    font-size: 3em;
}

@font-face {
    font-family: EvilEmpire;
    src: url('../../dist/EvilEmpire-4BBVK.2ab8a4bf.ttf');
}